<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Job Application By</title>
   <style>
      body {
         font-family: Arial, sans-serif;
         margin: 0;
         padding: 0;
      }

      .container {
         display: grid;
         grid-template-columns: 30% auto;
         grid-template-rows: 30% auto;
         height: 100vh;
      }

      .logo {
         grid-column: 1 / 2;
         grid-row: 1 / 2;
         background-image: url('https://assets.stickpng.com/images/62bda0d7bafda8767a088b3e.png');
         background-size: contain;
         background-repeat: no-repeat;
         background-position: center;
      }

      .job-info {
         grid-column: 1 / -1;
         grid-row: 2 / -1;
         padding: 20px;
      }

      h1 {
         font-size: 24px;
         color: #333;
      }

      .line {
         border: none;
         height: 3px;
         background-color: #d498ff;
         border-radius: 50px;
         margin: 20px 0;
      }

      p {
         font-size: 16px;
         line-height: 1.6;
         color: #666;
      }

      @media (max-width: 768px) {
         .container {
            grid-template-columns: 100%;
            grid-template-rows: 30% auto;
         }

         .logo {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
         }

         .job-info {
            grid-column: 1 / -1;
            grid-row: 2 / -1;
         }
      }
   </style>
</head>

<body>
   <div class="container">
      <div class="logo"></div>
      <div class="job-info">
         <h1>Job Application</h1>
         <hr class="line">
         <p>Dear <%= recruiterName %>,</p>
         <p>"I hope this email finds you well. I am writing to express my strong interest in the <%=postName%> position
               at <%= companyName %>, as advertised on LinkedIn. With my extensive experience in MERN stack development
                  and a
                  proven track record of delivering high-quality web applications, I am excited about the opportunity to
                  contribute to your team."</p>
         <p>Please find attached my resume for your reference.</p>
         <p>Thank you,</p>
         <p>R.Sarangan</p>
      </div>
   </div>
</body>

</html>