<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Job Application</title>
   <style>
      body {
         font-family: 'Roboto', sans-serif;
      }

      @media screen and (min-width:768px) {
         .Job-Outline {
            border: 1px solid gray;
            display: flex;
            width: 90%;
            background: whitesmoke;
            border-radius: 10px;
            min-height: 370px;
            margin: 0 auto;

         }
      }

      .Job-Outline {

         box-shadow: 0 0 5px 1px gray;
      }

      @media screen and (min-width:0px) and (max-width:576px) {
         .Job-Outline {
            width: 90%;
            margin: 0 auto;
         }

         .Job-image {
            width: 50%;
            margin: 0 auto;
         }

         .tittle {
            text-align: center;
         }
      }

      @media screen and (min-width:576px) and (max-width:768px) {
         .Job-Outline {
            display: flex;
            width: 75%;
            border: 1px solid gray;
            background: whitesmoke;
            min-height: 370px;
            border-radius: 10px;
            flex-direction: column;
            margin: 0 auto;
         }

         .tittle {
            text-align: center;
         }
      }

      .line {
         border: 3px solid rgb(93, 190, 93);
      }

      .Job-Info {
         flex-grow: 3 !important;
         padding: 5px 23px;
      }

      .Job-image {
         flex-grow: 1 !important;
         display: flex;
         justify-content: center;
         align-items: center;
         border-top-left-radius: 10px;
         border-end-start-radius: 10px;
         padding: 20px;

      }

      .responsive-img {
         width: 80%;
         aspect-ratio: 4/4 !important;
         border-radius: 50%;
      }
   </style>
</head>

<body>
   <div class="container">
      <h1>Job Application</h1>
      <p>Dear <%= recruiterName %>,</p>
      <p>I am writing to express my strong interest in the <%= postName %> position at <%= companyName %>.</p>
      <p>Please find attached my resume for your reference.</p>
      <p>Thank you,</p>
      <p class="signature">R.Sarangan</p>
   </div>
</body>

</html>